{% set baseId = 'eresources-' ~ random() ~ '-' %}

{% if options.headings %}
<h3 class="h4">Key Resources</h3>
{% endif %}

<div>
  <ul class="resource-list mb-1">
{% for entry in resources %}
  {% if loop.index == options.keyresources + 1 %}
  </ul>
</div>
<p class="my-2">
  <a class="additional-toggle d-inline-block" data-toggle="collapse" href="#{{ baseId }}-additional" role="button" aria-expanded="false" aria-controls="{{ baseId }}-additional">
    <span class="text-collapsed">See Additional Resources</span>
    <span class="text-expanded">Hide Additional Resources</span>
  </a>
</p>
<div id="{{ baseId }}-additional" class="collapse">
    {% if options.headings %}
  <h3 class="h4 mt-1">Additional Resources</h3>
    {% endif %}
  <ul class="resource-list">
  {% endif %}
    <li>
      <a href="{{ entry.getViaUrl }}">{{ entry.getTitle }}</a>
      {% set descriptionId = 'description-' ~ entry.getId ~ '-' ~ random() %}
      <a data-toggle="collapse" href="#{{ descriptionId }}" aria-expanded="false"></a>
      <div class="my-2 p-2 border border-info bg-light rounded collapse" id="{{ descriptionId }}">{{ entry.getFirstMetadataField('description') | raw }}</div>
    </li>
{% endfor %}
  </ul>
</div>
