{{ attach_library('guides/guides') }}
<div class="row">
  <div class="col-lg-3">
    {% set detailed_guides = guide_category.getDetailedGuides %}
    {% if detailed_guides is not empty %}
    <h3>Detailed Guides</h3>
    <ul class="detailed-guides">
      {% for guide in detailed_guides %}
      <li><a href="{{ url('entity.guide.canonical', {'guide': guide.id()}) }}">{{ guide.label }}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
    {% set course_guides = guide_category.getCourseGuides %}
    {% if course_guides is not empty %}
    <h3>Course Guides</h3>
    <ul class="course-guides">
      {% for guide in course_guides %}
      <li><a href="{{ url('entity.guide.canonical', {'guide': guide.id()}) }}">{{ guide.label }}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
    {% set related_guides = guide_category.getRelatedGuides %}
    {% if related_guides is not empty %}
    <h3>Related Guides</h3>
    <ul class="related-guides">
      {% for guide in related_guides %}
      <li><a href="{{ url('entity.guide.canonical', {'guide': guide.id()}) }}">{{ guide.label }}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
    {% set related_categories = guide_category.getRelatedCategories %}
    {% if related_categories is not empty %}
    <h3>Related Categories</h3>
    <ul class="related-categories">
      {% for category in related_categories %}
      <li><a href="{{ url('entity.guide_category.canonical', {'guide_category': category.id()}) }}">{{ category.label }}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
  <div class="col">
    <div class="resourceListings databases border border-dark bg-light rounded px-3 pt-3 mb-3">
      <h3>Top Article &amp; Research Databases</h3>
      <p class="topNote">Use article databases to find articles, reviews, book chapters, etc.</p>
      {{ guide_category.databases.value|check_markup(guide_category.databases.format) }}
      {% set dat_count = guide_category.getDatabaseCount %}
      <p class="mt-3">(Showing {{ dat_count.current }} of {{ dat_count.total }} resources | <a href="{{ url('guides.category_resources', {'guide_category': guide_category.id(), 'type': 'databases'}) }}">View All Results</a>)</p>
    </div>
    <div class="resourceListings reference border border-dark bg-light rounded px-3 pt-3 mb-3">
      <h3>Top Reference Materials</h3>
      <p class="topNote">Find dictionaries, encyclopedias, handbooks, and other materials</p>
      {{ guide_category.references.value|check_markup(guide_category.references.format) }}
      {% set ref_count = guide_category.getReferenceCount %}
      <p class="mt-3">(Showing {{ ref_count.current }} of {{ ref_count.total }} resources | <a href="{{ url('guides.category_resources', {'guide_category': guide_category.id(), 'type': 'reference'}) }}">View All Results</a>)</p>
    </div>
  </div>
  <div class="col-lg-3">
    <h2>More Information</h2>
    {% set editors = guide_category.editors|filter(e => (e.entity.field_display_editor.value == 1 and e.entity.field_user.entity.status.value == 1)) %}
    {% set editorCount = editors|length %}
      {% for editor in editors %}
        {% set account = editor.entity.field_user.entity %}
        {% set profile = account.public_profiles.get(0).entity %}
        {% include '@guides/includes/editor.html.twig' with {account: account, profile: profile} %}
        {% if loop.index < editorCount %}
          <hr class="border-secondary w-75">
        {% endif %}
     {% endfor %}
    {% set contacts = guide_category.other_contacts %}
    {% if editors is empty and contacts is empty %}
      {% include '@guides/includes/other-contact-askus.html.twig' %}
    {% else %}
      {% if editors is not empty and contacts is not empty %}
        <hr class="border-secondary w-75">
      {% endif %}
      {% for contact in contacts %}
        {% include '@guides/includes/other-contact-' ~ contact.getString ~ '.html.twig' %}
        {% if not loop.last %}
          <hr class="border-secondary w-75">
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>
</div>
<p class="social-buttons">
  <a href="https://www.facebook.com/sharer/sharer.php?u={{ url('<current>') }}" target="_blank" class="btn btn-sm btn-facebook"><i class="fab fa-facebook-f"></i> Share</a></li>
  <a href="https://x.com/intent/tweet?url={{ url('<current>') }}&amp;text=UNB Libraries: {{ guide_category.label | url_encode }} Guides&amp;via=UNBLibraries&amp;hashtags=UNBLibraries" target="_blank" class="btn btn-sm btn-twitter"><i class="fa-brands fa-x-twitter"></i> Share</a></li>
</p>
