{{ attach_library('lib_core/accessible-accordion') }}
{% if guide.related_guides is not empty %}
<ul class="list-unstyled">
  <li>Related Guides:
  {% for guide in guide.related_guides %}
    <a href="{{ url('entity.guide.canonical', { 'guide': guide.entity.id() }) }}">{{ guide.entity.label }}</a>
    {% if not loop.last %} &bull; {% endif %}
  {% endfor %}
  </li>
</ul>
{% endif %}

<div class="Accordion d-flex flex-column flex-lg-row flex-wrap">
  <div class="flex-fill" id="guide">
    <div class="card">
      <div class="bg-black card-header pb-1 pt-2 px-0 py-md-1">
        <h2 class="sr-only">Guide Sections</h2>
        <nav class="navbar navbar-expand-md">
          {% set sections = guide.sections|filter(s => s.entity.field_hide_section.value == 0) %}
          {% set first_section = sections|first %}
          <h3 class="d-block d-md-none h4 px-2 py-1" id="category-label">
            {{ first_section.entity.field_section_label.value }}
          </h3>
          <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"
          class="navbar-toggler text-white" data-target="#navbarNav" data-toggle="collapse" type="button">
            Switch section
          </button>

          <div class="collapse mx-3 mx-md-0 navbar-collapse" id="navbarNav">
            <ul class="align-items-lg-end d-flex flex-grow-1 flex-wrap navbar-nav">
              {% for section in sections %}
                {% set section_id = section.entity.id() %}
                <li class="nav-item mr-2">
                  <button aria-controls="panelSection{{ section_id }}"
                  {% if loop.first %} aria-expanded="true"{% else %} aria-expanded="false" tabindex="-1"{% endif %}
                  class="Accordion-trigger p-2" id="btnSection{{ section_id }}" type="button">
                    {{ section.entity.field_section_label.value }}
                  </button>
                </li>
              {% endfor %}
            </ul>
          </div>
        </nav>
      </div>

      <div class="bg-light border border-black card-body d-flex flex-column flex-lg-row px-3 py-0">
        {% for section in sections %}
        {% set section_id = section.entity.id() %}
          <div aria-labelledby="btnSection{{ section_id }}" class="Accordion-panel flex-grow-1"
          id="panelSection{{ section_id }}" role="region" {% if not loop.first %} hidden=""{% endif %}>
            {{ section.entity.field_section_content.value|t }}
          </div>
        {% endfor %}

        <div id="moreInfo" class="my-3">
          <h2 class="header-icons m-0">
            <button aria-controls="editors" aria-expanded="true"
            class="bg-dark border-0 card-header h4 m-0 p-2 rounded-0"
            data-target="#editors" data-toggle="collapse" id="editors-toggle" type="button">
              <i class="fa fa-question-circle fa-sm mr-1"></i>More Information
            </button>
          </h2>
          <div class="border border-dark">
            <div aria-labelledby="editors-toggle" class="collapse show" id="editors">
              <div class="p-2">
                <p><del>Sample editor content here</del></p>
                {% set editors = guide.editors|filter(e => e.entity.field_display_editor.value == 1) %}
                {% for editor in editors %}
                  {% set user = editor.entity.field_user.entity %}
                  <ul class="list-unstyled">
                    <li>{{ user.field_first_name.value }} {{ user.field_last_name.value }}</li>
                  </ul>
                {% endfor %}
                {% set feeds = guide.getFeeds %}
                {% if feeds is not empty %}
                <hr class="border-secondary py-2 w-75">
                <div id="guides-feeds" class="mx-3 mb-3">
                  {% for feed in feeds %}
                  <h4>{{ feed.title }}</h4>
                  <ul>
                    {% for item in feed.items %}
                    <li><a href="{{ item.url }}">{{ item.title }}</a></li>
                    {% endfor %}
                  </ul>
                  {% endfor %}
                </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <p>Last modified on {{ guide.getChangedTime()|date }}</p>
  <p class="social-buttons">
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ url('<current>') }}" target="_blank" class="btn btn-sm btn-facebook"><i class="fab fa-facebook-f"></i> Share</a></li>
    <a href="https://twitter.com/share?url={{ url('<current>') }}&amp;text=UNB Libraries: {{ guide.label | url_encode }} Guide&amp;via=UNBLibraries&amp;hashtags=UNBLibraries" target="_blank" class="btn btn-sm btn-twitter"><i class="fab fa-twitter"></i> Tweet</a></li>
  </p>
</div>
