{{ attach_library('lib_core/accessible-accordion') }}
{% if guide.related_guides is not empty %}
<ul class="list-unstyled">
  <li><strong>Related Guides:</strong>
  {% for guide in guide.related_guides %}
    <a href="{{ url('entity.guide.canonical', { 'guide': guide.entity.id() }) }}">{{ guide.entity.label }}</a>
    {% if not loop.last %} &bull; {% endif %}
  {% endfor %}
  </li>
</ul>
{% endif %}

<div class="Accordion">
  <div id="guide">
    <div class="card">
      <div class="bg-black card-header pb-1 pt-2 px-0 py-md-1">
        <h2 class="sr-only">Guide Sections</h2>
        <nav class="navbar navbar-expand-md">
          {% set sections = guide.sections|filter(s => s.entity.field_hide_section.value == 0) %}
          {% set first_section = sections|first %}
          <h3 class="d-inline-block d-md-none h4 px-2 py-1" id="category-label">
            {{ first_section.entity.field_section_label.value }}
          </h3>
          <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"
          class="navbar-toggler text-white" data-target="#navbarNav" data-toggle="collapse" type="button">
            Switch section
          </button>

          <div class="collapse mx-3 mx-md-0 navbar-collapse" id="navbarNav">
            <ul class="align-items-lg-end d-flex flex-grow-1 flex-wrap navbar-nav">
              {% for section in sections %}
                {% set section_id = section.entity.id() %}
                <li class="nav-item mr-2">
                  <button aria-controls="section-{{ section_id }}"
                  {% if loop.first %} aria-expanded="true"{% else %} aria-expanded="false" tabindex="-1"{% endif %}
                  class="Accordion-trigger p-2" id="btn-section-{{ section_id }}" type="button">
                    {{ section.entity.field_section_label.value }}
                  </button>
                </li>
              {% endfor %}
            </ul>
          </div>
        </nav>
      </div>

      <div class="border border-black card-body d-flex flex-column flex-lg-row p-0">
        {% for section in sections %}
        {% set section_id = section.entity.id() %}
          <div aria-labelledby="btn-section-{{ section_id }}" class="Accordion-panel flex-grow-1 px-3"
          id="section-{{ section_id }}" role="region" {% if not loop.first %} hidden=""{% endif %}>
            <h2 class="d-none d-print-block">{{ section.entity.field_section_label.value }}</h2>
            {{ drupal_field('field_section_content', 'paragraph', section_id, 'paragraph.default') }}
          </div>
        {% endfor %}

        <div id="moreInfo" class="p-3">
          <h2 class="header-icons m-0">
            <button aria-controls="editors" aria-expanded="true"
            class="bg-dark border-0 card-header h4 m-0 p-2 rounded-0"
            data-target="#editors" data-toggle="collapse" id="editors-toggle" type="button">
              <i class="fa fa-question-circle fa-sm mr-1"></i>More Information
            </button>
          </h2>
          <div class="bg-light border border-dark">
            <div aria-labelledby="editors-toggle" class="collapse show" id="editors">
              <div class="p-2">
                {% set editors = guide.editors|filter(e => e.entity.field_display_editor.value == 1) %}
                {% set editorCount = editors|length %}
                {% for editor in editors %}
                  {% set account = editor.entity.field_user.entity %}
                  {% set profile = account.public_profiles.get(0).entity %}
                  {% include '@guides/includes/editor.html.twig' with {account: account, profile: profile, show_extended_info: TRUE} %}
                  {% if loop.index < editorCount %}
                    <hr class="border-secondary w-75">
                  {% endif %}
                {% endfor %}
                {% set contacts = guide.other_contacts %}
                {% if editors is empty and contacts is empty %}
                  {% include '@guides/includes/other-contact-askus.html.twig' %}
                {% else %}
                  {% if editors is not empty and contacts is not empty %}
                    <hr class="border-secondary w-75">
                  {% endif %}
                  {% for contact in contacts %}
                    {% include '@guides/includes/other-contact-' ~ contact.getString ~ '.html.twig' %}
                    {% if not loop.last %}
                      <hr class="border-secondary w-75">
                    {% endif %}
                  {% endfor %}
                {% endif %}
                {% set feeds = guide.getFeeds %}
                {% if feeds is not empty %}
                <hr class="border-secondary w-75">
                <div id="guides-feeds" class="mx-3 mb-3">
                  {% for feed in feeds %}
                  <h4>{{ feed.title }}</h4>
                  <ul>
                    {% for item in feed.items %}
                    <li><a href="{{ item.url }}">{{ item.title }}</a></li>
                    {% endfor %}
                  </ul>
                  {% endfor %}
                </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <p>Last modified on {{ guide.getEditedTime()|date }}</p>
  <p class="social-buttons">
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ url('<current>') }}" target="_blank" class="btn btn-sm btn-facebook"><i class="fab fa-facebook-f"></i> Share</a></li>
    <a href="https://twitter.com/intent/tweet?url={{ url('<current>') }}&amp;text=UNB Libraries: {{ guide.label | url_encode }} Guide&amp;via=UNBLibraries&amp;hashtags=UNBLibraries" target="_blank" class="btn btn-sm btn-twitter"><i class="fa-brands fa-x-twitter"></i> Share</a></li>
  </p>
</div>
