<ul class="list-group list-group-flush list-results">
  {% set stripe = ['', 'bg-light'] %}
  {% set row = 0 %}
  {% set isbn = '' %}
  {% set issn = '' %}
  {% set eissn = '' %}
  {% set content = '' %}
  {% for entry in eresources %}
    {% if entry.getIsbn is not empty %}{% set isbn = entry.getIsbn %}{% endif %}
    {% if entry.getIssn is not empty %}{% set issn = entry.getIssn %}{% endif %}
    {% if entry.getEissn is not empty %}{% set eissn = entry.getEissn %}{% endif %}
    {# In order to group items by title/ocn, each item must be rendered, added to
       the "content". Content is pushed out when the title changes or it's the
       last item on the page.
    #}
    {% set chunk %}
      {% include '@eresources/includes/' ~ entry.getResultType ~ '.html.twig' %}
    {% endset %}
    {% set content = content ~ chunk %}
    {% set nextIndex = loop.index0 + 1 %}
    {% if loop.last or (
      entry.getTitle|lower != eresources[nextIndex].getTitle|lower and
      (entry.getOclcNum is empty or entry.getOclcNum != eresources[nextIndex].getOclcNum)
    ) %}
      <li class="list-group-item {{ cycle(stripe, row) }}">
        <div class="row">
          <div class="col-12 col-lg-8 title">{{ entry.getTitle }}
          {% if entry.getResultType == 'local' %}
            <span class="text-info font-weight-normal" role="button" data-toggle="collapse" data-target="#details-{{ entry.getId }}"><i class="fas fa-question-circle"></i> Details</span>
          {% endif %}
          </div>
          <div class="col-12 col-lg-4 mt-1 mt-lg-0 oclcnum">
            {% if isbn %}<p>ISBN: {{ isbn }}</p>{% endif %}
            {% if issn %}<p>ISSN: {{ issn }}</p>{% endif %}
            {% if eissn %}<p>eISSN: {{ eissn }}</p>{% endif %}
          </div>
        </div>
        <ul>
          {{ content|raw }}
        </ul>
      </li>
      {% set isbn = '' %}
      {% set issn = '' %}
      {% set eissn = '' %}
      {% set content = '' %}
      {% set row = row + 1 %}
    {% endif %}
  {% endfor %}
</ul>
