<h2>KB Record (<a href="{{ url('entity.eresources_record.edit_form', {'eresources_record': eresources_record.id.value}) }}">edit</a>)</h2>
<table>
  <tr><th>Key</th><th>Value</th></tr>
{% set fields = [
  'id', 'entry_uid', 'title', 'oclcnum', 'isbn', 'issn',
  'eissn', 'url', 'author', 'publisher', 'coverage', 'coverageenum',
  'coverage_notes', 'collection_user_notes', 'location', 'linked_collections',
  'kb_data_type', 'status',
] %}
{% for field in fields %}
  {% set fieldObj = eresources_record.get(field) %}
  <tr><td>{{ fieldObj.name }}</td><td>{{ fieldObj.value }}</td></tr>
{% endfor %}
</table>
<h2>Local Metadata</h2>
<table>
  <tr><th>Key</th><th>Value</th></tr>
{% set fields = [
  'alternate_title', 'date_coverage', 'subscription_start_date',
  'subscription_end_date', 'description', 'access_information',
  'license_status', 'is_collection',
] %}
{% for field in fields %}
  {% set fieldObj = eresources_record.get(field) %}
  <tr><td>{{ fieldObj.name }}</td><td>{{ fieldObj.value }}</td></tr>
{% endfor %}
</table>
<h2>OCLC Metadata</h2>
<table>
  <tr><th>Key</th><th>Value</th></tr>
{% set fields = [
  'oclc_description',
] %}
{% for field in fields %}
  {% set fieldObj = eresources_record.get(field) %}
  <tr><td>{{ fieldObj.name }}</td><td>{{ fieldObj.value }}</td></tr>
{% endfor %}
</table>
