<h3><a href="{{ entry.getViaUrl }}" target="_blank" onclick='javascript: _gaq.push(["_trackPageview", "/GA/{{ entry.getTitle }}"]);'>{{ entry.getTitle }}</a></h3>
<div class="wrapper-list-inline item-list">
<ul class="mb-2">
{% if entry.getOclcNum is not empty %}
  <li><i class="fas fa-search"></i> WorldCat: <a href="https://unb.on.worldcat.org/oclc/{{ entry.getOclcNum }}">{{ entry.getOclcNum }}</a></li>
{% endif %}
</ul>
</div>
{% if entry.getFirstMetadataField('description') is not empty %}
<div class="p-3 m-2 local-description">{{ entry.getFirstMetadataField('description') | raw }}</div>
{% endif %}
<dl>
  <dt>Access Information:</dt>
  <dd>
    {% if entry.getMetadataField('access_information') is not empty %}
      {{ entry.getMetadataField('access_information') }}
    {% else %}
      No specific access instructions
    {% endif %}
  </dd>
  <dt>Coverage/Publication Date:</dt>
  <dd>
    {% set permittedUse = entry.getPermittedUseStatement %}
    {% if 'Permitted Use' in permittedUse %}
    <span class="fas fa-gavel"></span>
    {% endif %}
    {{ permittedUse | raw }} {{ entry.getCoverageStatement }}
  </dd>
</dl>
{% set permalink = url('<current>', {'id': entry.getId}) %}
<p class="mt-5 mb-0 small"><b>Permalink:</b> <a href="{{ permalink }}">{{ permalink }}</a></p>
