<h3>
  {% if entry.getViaUrl %}
  <a href="{{ entry.getViaUrl }}" target="_blank" onclick='javascript: _gaq.push(["_trackPageview", "/GA/{{ entry.getTitle }}"]);'>{{ entry.getTitle }}</a>
  {% else %}
  {{ entry.getTitle }}
  {% endif %}
</h3>
<div class="wrapper-list-inline item-list">
<ul class="mb-2">
{% if entry.getOclcNum is not empty %}
  <li><i class="fas fa-search"></i> WorldCat: <a href="https://unb.on.worldcat.org/oclc/{{ entry.getOclcNum }}">{{ entry.getOclcNum }}</a></li>
{% endif %}
{% if debug %}
  <li>
    <span role="button" class="text-warning" data-toggle="collapse" data-target="#debug-{{ entry.getId }}"><i class="fas fa-info-circle"></i> Debug</span>
  </li>
  <li>
    <a role="button" class="text-danger" href="{{ url('entity.eresources_record.canonical', {'eresources_record': entry.getId}) }}"><i class="fas fa-pencil-alt"></i> Admin</a>
  </li>
{% endif %}
</ul>
</div>
{% if entry.getFirstMetadataField('description') is not empty %}
<div class="p-3 m-2 local-description">{{ entry.getFirstMetadataField('description') | raw }}</div>
{% endif %}
{% set permittedUse = entry.getPermittedUseStatement %}
{% if permittedUse %}
<div class="media mt-3 mb-2">
  {% if 'Permitted Use' in permittedUse %}
  <span class="fas fa-gavel mr-1"></span>
  {% endif %}
  <p class="media-body mb-0">{{ permittedUse|raw }}</p>
</div>
{% endif %}
<dl>
  {% set kb_data_type = entry.getKbDataType | lower %}
  {% if 'ref' in kb_data_type and entry.getCollectionName is not empty %}
  <dt>Collection:</dt>
  <dd>{{ entry.getCollectionName }}</dd>
  {% endif %}
  <dt>Access Information:</dt>
  <dd>
    {% if entry.getMetadataField('access_information') is not empty %}
      {{ entry.getMetadataField('access_information') | raw }}
    {% else %}
      No specific access instructions.
    {% endif %}
  </dd>
  {% set coverage = entry.getMetadataField('date_coverage') %}
  {% if coverage is empty and 'ref' in kb_data_type %}
  {%   set coverage = entry.getCoverageStatement %}
  {% endif %}
  {% if coverage %}
    <dt>Coverage/Publication Date:</dt>
    <dd>{{ coverage }}</dd>
  {% endif %}
  {% if entry.getLinkedCollections is not empty %}
    <dt>Collection Titles:</dt>
    <dd>
    <ul>
    {% set links = entry.getLinkedCollections|split("\n") %}
    {% for link in links %}
      {% set info = link|split(',') %}
      <li><a href="{{ info[1] }}">{{ info[0] }}</a></li>
    {% endfor %}
    </ul>
    </dd>
  {% endif %}
</dl>
{% if debug %}
<div class="border border-warning rounded bg-white p-3 mt-2 collapse" id="debug-{{ entry.getId }}">
{{ entry.getDebug | raw }}
</div>
{% endif %}
{% set permalink = url('<current>', {'id': entry.getId}) %}
<p class="mt-5 mb-0 small"><b>Permalink:</b> <a href="{{ permalink }}">{{ permalink }}</a></p>
