<div class="row">
    <div class="col-md-12 mb-3"><a class="btn btn-sm btn-dark" href="https://unb.on.worldcat.org/oclc/{{ portolan_record.oclc_id.value }}" target="_blank">View on WorldCat</a></div>
    <div class="col-md-3 order-md-9">
        <img src="https://covers.openlibrary.org/b/oclc/{{ portolan_record.oclc_id.value }}-M.jpg">
    </div>
    <div class="col-md-9 order-md-3">
        <table>
            <tr>
                <th>Author(s):</th>
                <td>
                    {% for author in portolan_record.author %}
                        <span>{{ author.entity.label }}</span>{% if not loop.last %};{% endif %}
                    {% endfor %}
                </td>
            </tr>
            <tr><th>Publication:</th><td>{{ portolan_record.publication.value }}</td></tr>
            <tr><th>Age range:</th><td>{{ portolan_record.age_range.value }}</td></tr>
            <tr>
                <th>Geographical location(s):</th>
                <td>
                    {% for location in portolan_record.location %}
                    <span>{{ location.entity.label }}</span>{% if not loop.last %},{% endif %}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Jurisdiction(s):</th>
                <td>
                    {% for jurisdiction in portolan_record.jurisdiction %}
                        <span>{{ jurisdiction.entity.label }}</span>{% if not loop.last %},{% endif %}
                    {% endfor %}
                </td>
            </tr>
            <tr><th>Call number:</th><td>{{ portolan_record.call_number.value }}</td></tr>
            <tr>
                <th>Descriptor(s):</th>
                <td>
                    {% for descriptor in portolan_record.descriptor %}
                        <span>{{ descriptor.entity.label }}</span>{% if not loop.last %},{% endif %}
                    {% endfor %}
                </td>
            </tr>
            <tr><th>Note:</th><td>{{ portolan_record.note.value }}</td></tr>
        </table>
    </div>
    <div class="col-md-12 mt-4 order-md-12">{{ portolan_record.abstract.value }}</div>
</div>
