<div class="ior-submission ior-submission-winner">
    <a href="{{ submission.url }}">
        <h3>{{ submission.title }}</h3>
    </a>
    <span class="d-block">by {{ submission.first_name }} {{ submission.last_name }} ({{ submission.department }})</span>
    {{ submission.field_image }}
</div>
