<div class="ior-submission ior-submission-winner">
    <a href="{{ submission.url }}">
        <h3>{{ submission.field_title }}</h3>
    </a>
    <span class="d-block">by {{ submission.field_first_name }} {{ submission.field_last_name }} ({{ submission.field_department }})</span>
    {{ submission.field_image }}
</div>
