{{ attach_library('guides/guides') }}
<div class="row mb-4">
  <div class="col">
  {% if profile.field_pronouns.value %}
    <p class="h3 mb-2 font-weight-bold">{{ profile.field_pronouns.value }}</p>
  {% endif %}
    <h2>{{ account.field_position_title.value }}<br>
    UNB {{ profile.field_campus.value }}</h2>

    {% if profile.field_biography.value %}
      {% set biography = {
        '#type': 'processed_text',
        '#text': profile.field_biography.value,
        '#format': profile.field_biography.format,
      } %}
      {{ biography }}
    {% endif %}

    {% if profile.field_guides_listing.value == 'body' and guides is not empty %}
      <h3>{{ account.field_first_name.value }}'s Guides:</h3>
      <ul>
       {% for guide in guides %}
       <li><a href="{{ url('entity.guide.canonical', {'guide': guide.id()}) }}">{{ guide.label }}</a></li>
       {% endfor %}
      </ul>
    {% endif %}
  </div>
  <div class="col-lg-4">
    <div class="border border-dark bg-light px-3 pt-3 pb-0">
      <ul class="list-unstyled">
      {% if profile.field_profile_picture.entity.uri.value %}
        {% set picture = {
          '#theme': 'image_style',
          '#style_name': 'public_profile',
          '#uri': profile.field_profile_picture.entity.uri.value,
          '#alt': profile.field_profile_picture.alt,
        } %}
        <li class="text-center mt-0 mb-3">{{ picture }}</li>
      {% endif %}
      {% if profile.field_status_note.value %}
        <li><i class="fas fa-asterisk text-danger"></i> {{ profile.field_status_note.value }}</li>
      {% endif %}
        <li><a href="https://lib.unb.ca/contact-unb-libraries-staff?recipient={{ account.getAccountName }}">{{ account.getEmail }}</a></li>
      {% if account.field_phone_number.value %}
        <li>{{ account.field_phone_number.value|replace({' ': '-'})|trim('1-', 'left') }}</li>
      {% endif %}
      {% if profile.field_twitter_id.value or profile.field_facebook_id.value or profile.field_linkedin_id.value or profile.field_researchgate_id.value or profile.field_orcid_id.value or profile.field_instagram_id.value %}
        <li class="social-buttons">
        {% if profile.field_twitter_id.value %}
          <a href="https://twitter.com/{{ profile.field_twitter_id.value }}" class="btn btn-sm btn-twitter"><i class="fa-brands fa-x-twitter"></i> Follow</a>
        {% endif %}
        {% if profile.field_facebook_id.value %}
          <a href="https://facebook.com/{{ profile.field_facebook_id.value }}" class="btn btn-sm btn-facebook"><i class="fab fa-facebook-f"></i> Follow</a>
        {% endif %}
        {% if profile.field_linkedin_id.value %}
          <a href="https://linkedin.com/in/{{ profile.field_linkedin_id.value }}" class="btn btn-sm btn-linkedin"><i class="fab fa-linkedin"></i> Follow</a>
        {% endif %}
        {% if profile.field_researchgate_id.value %}
          <a href="https://www.researchgate.net/profile/{{ profile.field_researchgate_id.value }}" class="btn btn-sm btn-researchgate"><i class="fab fa-researchgate fa-lg"></i> Follow</a>
        {% endif %}
        {% if profile.field_orcid_id.value %}
          <a href="https://orcid.org/{{ profile.field_orcid_id.value }}" class="btn btn-sm btn-orcid"><i class="fab fa-orcid fa-lg"></i> ORCID Record</a>
        {% endif %}
        {% if profile.field_instagram_id.value %}
          <a href="https://instagram.com/{{ profile.field_instagram_id.value }}" class="btn btn-sm btn-instagram"><i class="fab fa-instagram fa-lg"></i> Follow</a>
        {% endif %}
        </li>
      {% endif %}
      {% if profile.field_book_a_meeting.uri %}
        <li class="social-buttons"><a href="{{ profile.field_book_a_meeting.uri }}" class="btn btn-sm btn-success"><i class="fas fa-calendar-check"></i> {{ profile.field_book_a_meeting.title }}</a></li>
      {% endif %}
      {% if profile.field_website.uri %}
        <li><a href="{{ profile.field_website.uri }}">{{ profile.field_website.title }}</a></li>
      {% endif %}
      {% if profile.field_library_link.value %}
        <li><a href="{{ profile.field_library_link.value }}">Library Hours</a></li>
      {% endif %}
      </ul>

    {% if profile.field_subject_specialties.value %}
      <p><strong>Subject Specialties:</strong> {{ profile.field_subject_specialties.value }}</p>
    {% endif %}
    </div>

  {% if profile.field_guides_listing.value == 'sidebar' and guides is not empty %}
    <h3 class="mt-4">{{ account.field_first_name.value }}'s Guides:</h3>
    <ul>
     {% for guide in guides %}
     <li><a href="{{ url('entity.guide.canonical', {'guide': guide.id()}) }}">{{ guide.label }}</a></li>
     {% endfor %}
    </ul>
  {% endif %}

  </div>
</div>
