<p>Hello,</p>

<p>A new entry has been submitted to {{ ior_submission.getContest.title }}.</p>

<p>Please review the submission for compliance with the contest "Terms of Reference":</p>
<p>
    <div>To view the submission, visit <a href="{{ ior_submission_url }}">{{ ior_submission_url }}</a>.</div>
    <div>To review the submission, visit <a href="{{ ior_submission_moderate_url }}">{{ ior_submission_moderate_url }}</a>.</div>
</p>

<p><img src="https://media.lib.unb.ca/core/img-2015/UNB_Lib_Black_Red.png" alt="UNB Libraries"></p>
