<p>Hello {{ ior_submission.getFirstName }},</p>

<p>We have received your submission to {{ ior_submission.getContest.title }} with the following information provided by you:</p>

<h4>Personal information:</h4>
<ul>
    <li>Name: {{ ior_submission.getLastName }}, {{ ior_submission.getFirstName }}</li>
    <li>Email: {{ ior_submission.getEmail }}</li>
    <li>Department/Faculty: {{ ior_submission.getDepartment }}</li>
</ul>

<h4>Submission information:</h4>
<ul>
    <li>Title: {{ ior_submission.getTitle }}</li>
    <li>Description: {{ ior_submission.getDescription }}</li>
</ul>

<p>Your submission will shortly be reviewed for compliance with contest requirements. You will receive a separate email when your submission has been accepted.</p>

<p>For any questions please contact <a href="mailto:mbragdon@unb.ca">Marc Bragdon</a>.</p>

<p><img src="https://media.lib.unb.ca/core/img-2015/UNB_Lib_Black_Red.png" alt="UNB Libraries"></p>

