<div class="row">
    <div class="col-md-6">
        {{ submission.field_image }}
    </div>
    <div class="col-md-6">
        <div class="submission-meta">
            <h2>{{ submission.field_first_name }}{{ submission.field_last_name }}</h2>
            <span class="subtitle">{{ submission.field_department }}</span>
        </div>
        <div class="submission-description">{{ submission.field_description }}</div>
    </div>

</div>
