<div class="row">
    <div class="col-md-6">
        {{ submission.field_image }}
        {%  if submission.image_link %}
            <p>{{ submission.image_link }}</p>
        {% endif %}
    </div>
    <div class="col-md-6">
        {% if submission.published %}
        <div class="submission-meta">
            <h2>{{ submission.field_first_name }}{{ submission.field_last_name }}</h2>
            <span class="subtitle">{{ submission.field_department }}</span>
        </div>
        {% endif %}
        <div class="submission-description">{{ submission.field_description }}</div>
    </div>

</div>
