<div class="row">
    <div class="col-md-12">
        <a href="{{ submission.url }}">{{ submission.field_image }}</a>
    </div>
    <div class="col-md-12">
        <a class="h4" href="{{ submission.url }}">{{ submission.field_title }}</a>
        {% if submission.published %}
        <div class="submission-meta">
            <span>{{ submission.field_first_name }}{{ submission.field_last_name }}</span>
            <span class="subtitle">{{ submission.field_department }}</span>
        </div>
        {% endif %}
    </div>
</div>
